<div id="pag_inicial" class="container-fluid p-4">

  <div id="titulo" class="container-fluid">
    <h1 class="m-0 row aling-items-center justify-content-center">Sorteador</h1>
  </div>

  <form class="row aling-items-center justify-content-center" id="numeros">

    <input type="text" placeholder="Numero Inicial" id="numInicial" class="p-2 m-1 col-4 rounded">

    <input type="text" placeholder="Numero Final" id="numFinal" class="p-2 m-1 col-4 rounded">

    <button type="button" id="btn_sortear" onclick="{Sortear()}" class="p-2 m-1 col-4 rounded">Sortear</button>

  </form>
</div>